<div class="flex items-center justify-between bg-gray-50 p-8">
    <div class="max-w-xl space-y-6 pl-10  mt-5">
      <h1 class="text-5xl font-bold leading-snug">
        Take The Worry Out Of Life With 
        <span class="text-teal-700">Insurance</span> Protection
      </h1>
      <p class="text-gray-600 ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. Id nisl quis arcu nulla leo nulla cras justo consectetur adipiscing elit.
        
      </p>
      <div class="flex space-x-4">
        <button class="bg-teal-700 text-white font-semibold py-2 px-4 rounded mt-10">
          Get Started
        </button>
        <button class="border border-teal-500 text-teal-700 font-semibold py-2 px-4 rounded mt-10">
          Contact Us
        </button>
      </div>
    </div>
    <div class="relative">
     <img src="https://png.pngtree.com/png-clipart/20230517/original/pngtree-father-and-daughter-png-image_9162903.png" alt="Father and Daughter" 
      class="w-full max-w-lg h-auto pr-10 rounded-md" />
      <div class="absolute top-0 left-0 w-full h-full bg-teal-100 opacity-10 rounded-md"></div>
    </div>
  </div>
  