<nav class="flex items-center justify-between p-4 shadow-md bg-white">
    <div class="flex items-center space-x-4">
      <span class="text-2xl font-bold text-teal-700 pr-9 pl-2">Logo</span>
      <input type="text" placeholder="Search here..." class="border-b border-gray-300 outline-none focus:border-teal-700">
    </div>
  
    <div class="hidden md:flex space-x-6 text-gray-700">
      <a href="#" class="text-teal-600 font-bold">Home</a>
      <a href="#" class="hover:text-teal-600 font-bold">Pages</a>
      <a href="#" class="hover:text-teal-600 font-bold">Insurances</a>
      <a href="#" class="hover:text-teal-600 font-bold">Blog</a>
      <a href="#" class="hover:text-teal-600 font-bold">Contact Us</a>
    </div>
  
    <div class="hidden md:flex items-center space-x-4">
      <div class="flex items-center space-x-2 text-gray-700">
        <span class="material-icons text-teal-700 w-5 h-5"><img src="https://image.shutterstock.com/image-illustration/phone-icon-green-color-illustration-260nw-1823864342.jpg" alt=""></span>
       
        <span class="font-bold">(+11) 65 458 856</span>
      </div>
      <button class="bg-teal-700 text-white px-4 py-2 rounded-lg"> Get A Quote</button>
    </div>
  
    <div class="md:hidden">
      <span class="material-icons text-gray-700">menu</span>
    </div>
  </nav>
  